body {
  font-family: 'Roboto', sans-serif;
}

.search-toolbar {
  background-color: #fd8f0f;
  height: 90px;
  padding-top: 15px;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-form-input {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  float: left;
  width: 300px;
  outline: none;
  background: #ffff;
}

.search-form-input:focus {
  border: 1px solid #A03919;
}

.search-form-btn {
  float: left;
  padding: 10px 20px;
  margin-left: 10px;
  background: #A03919;
  color: #ffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form-btn:hover,
.search-form-btn:focus {
  background: #CC5029;
}

.search-form::after {
  content: '';
  clear: both;
  display: table;
}

.gallery {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0px 50px;
}

.photo-card {
  flex-flow: column;
  flex-wrap: wrap;
  }

.photo {
  display: block;
  width: 350px;
  height: 250px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 350px;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.info-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 12px;
}

.info-item-api {
  padding-top: 5px;
  color: #A03919;
}

.load-more {
  display: flex;
  margin: 0px auto 20px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #A03919;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover,
.load-more:focus {
  background: #CC5029;
}